<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<configuration>

  {% if hdfs_is_ha -%}
  <!-- HDFS HA properties (if >1 namenodes and >=3 journalnodes)  -->
  <property>
    <name>fs.defaultFS</name>
    <value>hdfs://{{ site_name|lower }}</value>
    <final>true</final>
  </property>
  {%- else -%}
  <!-- Not HA, so namenode is the default FS -->
  <property> 
    <name>fs.defaultFS</name>
    <value>hdfs://{{ hdfs_namenode_hostname }}</value>
    <final>true</final>
  </property>
  {%- endif %}

  {{ hadoop_core_site_properties | xml_property_list }}

</configuration>
