#!/bin/sh
#
# /etc/init.d/hadoop
# init script for Hadoop HDFS.
#
### BEGIN INIT INFO
# Provides: hadoop
# Required-Start: sshd
# Required-Stop: sshd
# Default-Start: 2 3 4 5
# Default-Stop: 0 1 6
# Short-Description: Hadoop service
# Description: Hadoop HDFS/YARN/MapReduce service
### END INIT INFO
#
RETVAL=0

. {{ hadoop_node_env_path }}

hadoop_start() {
  echo Starting Hadoop HDFS...
  su - {{ hadoop_user }} -c "$HADOOP_HOME/sbin/start-dfs.sh"
  su - {{ hadoop_user }} -c "$HADOOP_HOME/sbin/start-yarn.sh"
  RETVAL=$?
}

hadoop_stop() {
  echo Stopping Hadoop...
  su - {{ hadoop_user }} -c "$HADOOP_HOME/sbin/stop-yarn.sh"
  su - {{ hadoop_user }} -c "$HADOOP_HOME/sbin/stop-dfs.sh"
  RETVAL=$?
}

hadoop_restart() {
  echo Restarting Hadoop...
  hadoop_stop
  hadoop_start
  RETVAL=$?
}

hadoop_status() {
  echo -n "Hadoop status: "
  FOUND=$(ps -ef | grep -m 1 hadoop | grep -v -c grep)
  if [ "${FOUND}" -eq "1" ]; then 
    echo "Hadoop running" 
    RETVAL=0
  else 
    echo "Hadoop not running"
    RETVAL=1
  fi
}

case "$1" in
  start)
    hadoop_start
    ;;
  stop)
    hadoop_stop
    ;;
  restart)
    hadoop_restart
    ;;
  status)
    hadoop_status
    ;;
  *)
    echo "Usage: $0 {start|stop|restart|status}"
    exit 1
    ;;
esac

exit $RETVAL
