<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<configuration>

  {{ hdfs_site_properties | xml_property_list }}

  {#- ------------------------------------------------------------ -#}
  {#- HDFS HA properties (if >1 namenodes and >=3 journalnodes)    -#}
  {% if hdfs_is_ha -%}
  <!-- HDFS High Availability (HA) configuration -->
  <!-- Common logical name for HA nameservice -->
  <property>
      <name>dfs.nameservices</name>
      <value>{{ site_name|lower }}</value>
  </property>

  <!-- HA host configuration -->
  <property>
    <name>dfs.ha.namenodes.{{ site_name|lower }}</name>
    <value>{% for host in groups['namenodes'] %}nn{{ loop.index }}{% if not loop.last %},{% endif %}{% endfor %}</value>
  </property>
  {%   for host in groups['namenodes'] %}
  <property>
    <name>dfs.namenode.rpc-address.{{ site_name|lower }}.nn{{ loop.index }}</name>
    <value>{{ hostvars[host].ansible_fqdn }}:8020</value>
  </property>
  <property>
    <name>dfs.namenode.http-address.{{ site_name|lower }}.nn{{ loop.index }}</name>
    <value>{{ hostvars[host].ansible_fqdn }}:50070</value>
  </property>
  {%   endfor %}

  <!-- Storage for edits' files -->
  <property>
    <name>dfs.namenode.shared.edits.dir</name>
    <value>qjournal://{% for host in groups['journalnodes'] %}{{ hostvars[host].ansible_fqdn }}:8485{% if not loop.last %};{% endif %}{% endfor %}/{{ site_name|lower }}</value>
  </property>

  <!-- Client failover -->
  <property>
    <name>dfs.client.failover.proxy.provider.{{ site_name|lower }}</name>
    <value>org.apache.hadoop.hdfs.server.namenode.ha.ConfiguredFailoverProxyProvider</value>
  </property>

  <!-- Fencing configuration -->
  <property>
    <name>dfs.ha.fencing.methods</name>
    <value>shell(/bin/true)</value>
  </property>

  <!-- Automatic failover configuration -->
  <property>
    <name>dfs.ha.automatic-failover.enabled</name>
    <value>true</value>
  </property>

  <property>
    <name>dfs.journalnode.edits.dir</name>
    <value>{{ hdfs_journalnode_edits_dir }}</value>
  </property>

  {%- endif %}
  {#- end HDFS HA properties                                       -#}
  {#- ------------------------------------------------------------ -#}
    
</configuration>
