<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<configuration>

  <!-- Scheduler -->
  {{ yarn_scheduler_properties | xml_property_list(name_prefix='yarn.scheduler.') }}

  <!-- Resource Manager -->
  {{ yarn_resourcemanager_properties | xml_property_list(name_prefix='yarn.resourcemanager.') }}

  <!-- Node manager -->
  {{ yarn_nodemanager_properties | xml_property_list(name_prefix='yarn.nodemanager.') }}

  <property>
    <name>yarn.application.classpath</name>
    <value>
      {{ hadoop_home }}/etc/hadoop,
      {{ hadoop_home }}/share/hadoop/common/*,
      {{ hadoop_home }}/share/hadoop/common/lib/*,
      {{ hadoop_home }}/share/hadoop/hdfs/*,
      {{ hadoop_home }}/share/hadoop/hdfs/lib/*,
      {{ hadoop_home }}/share/hadoop/mapreduce/*,
      {{ hadoop_home }}/share/hadoop/mapreduce/lib/*, 
      {{ hadoop_home }}/share/hadoop/yarn/*,
      {{ hadoop_home }}/share/hadoop/yarn/lib/*,
      {{ hadoop_home }}/share/spark/*
    </value>
  </property>
</configuration>
