#!/bin/sh
#
# /etc/init.d/hive-metastore
# init script for hive-metastore.
#
### BEGIN INIT INFO
# Provides: hive-metastore
# Required-Start: hadoop
# Required-Stop: hadoop
# Default-Start: 2 3 4 5
# Default-Stop: 0 1 6
# Short-Description: Start hive-metastore
# Description: hive search interface
### END INIT INFO
#
RETVAL=0

hive_path="{{ hive_bin_dir }}"
hive="{{ hive_exec_path }}"

hive_start() {
  echo Starting Hive-metastore...
  su - hive -c "$hive --service metastore &"
  RETVAL=$?
}

hive_stop() {
  echo Stopping Hive-metastore...
  kill -HUP `ps -ef | grep hive | grep -v grep | awk '{print $2}'` 2>/dev/null 1>&2
  RETVAL=$?
}

hive_restart() {
  echo Restarting Hive...
  hive_stop
  hive_start
  RETVAL=$?
}

hive_status() {
  echo -n "Hive status: "
  FOUND=$(ps -ef | grep -m 1 HiveMetaStore | grep -v -c grep)
  if [ "${FOUND}" -eq "1" ]; then 
    echo "Hive running" 
  else 
    echo "Hive not running"
  fi
  RETVAL=$?
}

case "$1" in
  start)
    hive_start
    ;;
  stop)
    hive_stop
    ;;
  restart)
    hive_restart
    ;;
  status)
    hive_status
    ;;
  *)
    echo "Usage: $0 {start|stop|restart|status}"
    exit 1
    ;;
esac

exit $RETVAL
