#!/bin/sh
#
# /etc/init.d/hive-hiveserver2
# init script for hive-hiveserver2.
#
### BEGIN INIT INFO
# Provides: hive-hiveserver2
# Required-Start: hive-metastore
# Required-Stop: hive-metastore
# Default-Start: 2 3 4 5
# Default-Stop: 0 1 6
# Short-Description: Start hive-hiveserver2
# Description: hive thrift interface
### END INIT INFO
#
RETVAL=0

hive_path="{{ hive_bin_dir }}"
hive="{{ hive_bin_dir }}/hive"

hive_start() {
  echo Starting Hive-hiveserver2...
  su - hive -c "$hive --service hiveserver2 &"
  RETVAL=$?
}

hive_stop() {
  echo Stopping Hive-hiveserver2...
  kill -HUP `ps -ef | grep -i hiveserver2 | grep -v grep | awk '{print $2}'` 2>/dev/null 1>&2
  RETVAL=$?
}

hive_restart() {
  echo Restarting HiveServer2...
  hive_stop
  hive_start
  RETVAL=$?
}

hive_status() {
  echo -n "HiveServer2 status: "
  FOUND=$(ps -ef | grep -m 1 HiveServer2 | grep -v -c grep)
  if [ "${FOUND}" -eq "1" ]; then 
    echo "HiveServer2 running" 
  else 
    echo "HiveServer2 not running"
  fi
  RETVAL=$?
}

case "$1" in
  start)
    hive_start
    ;;
  stop)
    hive_stop
    ;;
  restart)
    hive_restart
    ;;
  status)
    hive_status
    ;;
  *)
    echo "Usage: $0 {start|stop|restart|status}"
    exit 1
    ;;
esac

exit $RETVAL
