javax.jdo.PersistenceManagerFactoryClass = org.jpox.PersistenceManagerFactoryImpl
org.jpox.autoCreateSchema = false
org.jpox.validateTables = false
org.jpox.validateColumns = false
org.jpox.validateConstraints = false
org.jpox.storeManagerType = rdbms
org.jpox.autoCreateSchema = true
org.jpox.autoStartMechanismMode = checked
org.jpox.transactionIsolation = read_committed
javax.jdo.option.DetachAllOnCommit = true
javax.jdo.option.NontransactionalRead = true
javax.jdo.option.ConnectionDriverName = '{{ hive_metastore_connection_driver }}'
{% if hive_metastore_fqdn == ansible_fqdn -%}
javax.jdo.option.ConnectionURL = {{ mysql_jdbc_localhost_url }}/metastore
{% else -%}
javax.jdo.option.ConnectionURL = {{ mysql_jdbc_url }}/metastore
{% endif -%}
javax.jdo.option.ConnectionUserName = {{ hive_metastore_db_user }}
javax.jdo.option.ConnectionPassword = {{ hive_metastore_db_password }}
