export JAVA_HOME={{ java_home }}
export HADOOP_PREFIX={{ hadoop_home }}
export HADOOP_HOME=${HADOOP_PREFIX}
export HADOOP_COMMON_HOME=${HADOOP_PREFIX}
export HADOOP_MAPRED_HOME=${HADOOP_PREFIX}
export HADOOP_YARN_HOME=${HADOOP_PREFIX}
export HADOOP_CONF_DIR=${HADOOP_PREFIX}/etc/hadoop
export YARN_CONF_DIR=${HADOOP_CONF_DIR}
export PATH=${PATH}:${HADOOP_PREFIX}/bin:${HADOOP_PREFIX}/sbin
