#!/usr/bin/env bash
CONTREPO={{ anaconda_repo_url }}
OSNAME={{ anaconda_os_name }}
ARCH={{ anaconda_arch }}
# Stepwise filtering of the html at $CONTREPO
# Get the topmost line that matches our requirements, extract the file name.
ANACONDAURL=$(wget -q -O - ${CONTREPO} index.html | grep "Anaconda3-" | grep "${OSNAME}" | grep "${ARCH}" | head -n 1 | cut -d \" -f 2)
wget -O {{ anaconda_installer_path }} ${CONTREPO}${ANACONDAURL}
bash {{ anaconda_installer_path }} -b -f -p {{ anaconda_home }} 
