[DEFAULT]
bantime  = {{ fail2ban_global_bantime }}

findtime = {{ fail2ban_global_findtime }}

maxretry = {{ fail2ban_global_maxretry }}

[recidive]
enabled = true
bantime  = {{ fail2ban_recidive_bantime }}
findtime = {{ fail2ban_recidive_findtime }}
maxretry = {{ fail2ban_recidive_maxretry }}
