coordinator=true
node-scheduler.include-coordinator=false
http-server.http.port={{ presto_http_port }}
query.max-memory=50GB
query.max-memory-per-node=1GB
discovery-server.enabled=true
discovery.uri={{ presto_coordinator_url }}