suite=my_suite
query-database={{ mysql_jdbc_url }}/presto_verifier?user={{ presto_db_user }}&password={{ presto_db_password }}
control.gateway=jdbc:presto://localhost:{{ presto_http_port }}
test.gateway=jdbc:presto://localhost::{{ presto_http_port }}
thread-count=1
