<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<configuration>

  <property>
    <name>javax.jdo.option.ConnectionURL</name>
      {# if this is begin deployed on the "master" metastore (the
         first in the "hive_metastore" group) then use localhost -#}
    {% if hive_metastore_fqdn == ansible_fqdn -%}
    <value>{{ mysql_jdbc_localhost_url }}/metastore</value>
    {% else -%}
    {# otherwise, this should point to the FQDN of the master node -#}
    <value>{{ mysql_jdbc_url }}/metastore</value>
    {% endif -%}
  </property>

  {{ hive_site_xml_properties | xml_property_list }}

</configuration>
